#
# Touchscreen driver configuration
#
menuconfig INPUT_TOUCHSCREEN
	bool "Touchscreens"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_TOUCHSCREEN

config TOUCHSCREEN_MTK
	bool "MediaTek Touch Panel Driver"
	help
	  Say Y here if you have MediaTek touch panel.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called MediaTek touch panel.

if TOUCHSCREEN_MTK
source "drivers/input/touchscreen/mediatek/Kconfig"
endif

config TOUCHSCREEN_MTK
	bool "MediaTek Touch Panel Driver"
	help
	  Say Y here if you have MediaTek touch panel.

config TOUCHSCREEN_MTK_FT5346
	tristate "FT5346 for Mediatek package"
	depends on TOUCHSCREEN_MTK

config TOUCHSCREEN_MTK_ATMEL336T
	tristate "ATMEL336T for Mediatek package"
	depends on TOUCHSCREEN_MTK

config TOUCHSCREEN_SWEEP2WAKE
	tristate "Sweep2Wake for touchscreens"
	select TOUCHSCREEN_PREVENT_SLEEP
	default n

config TOUCHSCREEN_DOUBLETAP2WAKE
	tristate "DoubleTap2Wake for touchscreens"
	select TOUCHSCREEN_PREVENT_SLEEP
	default n

config TOUCHSCREEN_PREVENT_SLEEP
	bool "Inihibit sleep on modified touchscreen drivers"
	default n
	help
	  This disables the sleep function of modified touchscreen drivers.

endif
