config TOUCHSCREEN_MTK_FT5346
	tristate "FT5346 touchscreen"
	depends on TOUCHSCREEN_MTK
	help
	  Say Y here if you have a FT5346 and want to enable
	  support for the built-in touchscreen.

	  If unsure, say N.
